.main-header__picture {
  display: block;
  margin: 0 auto;
  margin-top: 75px;
}

.main-header__title {
  margin-top: 40px;
}

.main-header__invitation {
  position: relative;
  line-height: 25px;
  font-size: 16px;

  margin-top: 30px;
  margin-left: 55px;
  padding-left: 5px;

  &::before {
    content: " ";
    position: absolute;
    background-image: url("../img/button_plus.svg");

    width: 50px;
    height: 50px;
    left: -55px;
    top: -2px;
  }
}

@media screen and (min-width: $tablet_width) {
  .main-header__picture {
    margin-top: 165px;
  }

  .main-header__title {
    width: 386px;
    margin-top: 200px;
    margin-right: 30px;
  }

  .main-header__invitation {
    line-height: 30px;
    font-size: 20px;

    margin-top: 35px;
  }
}

@media screen and (min-width: $changed_bootstrap_lg_width) {
  .main-header__picture {
    margin-left: 200px;
  }

  .wrapper-title-and-invitation__main-header {
    margin-left: 105px;
    margin-top: -200px;
  }

  .main-header__title {
    width: 565px;
    height: 155px;
  }

  .main-header__invitation {
    padding-left: 20px;
    margin-top: 45px;
  }
}